################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/0078-azfnc-storage-access/FileContentIndex/7bc2affa-f667-45f6-ba11-784caf36bf28.vsidx
/.vs/0078-azfnc-storage-access/FileContentIndex/50dcdcf3-a09e-48af-ad21-87a6777e38a0.vsidx
/.vs/0078-azfnc-storage-access/FileContentIndex/58391340-83e2-40e5-9ee2-3a08f5e35aa1.vsidx
