################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/0078-azfnc-storage-access/FileContentIndex/7bc2affa-f667-45f6-ba11-784caf36bf28.vsidx
